button {
    width: 1000px;
    margin-bottom: 1rem;
}

input {
    width: 980px;
    text-align: center;
}

section {
    margin-bottom: 3rem;
}

.gold {
    background-color: gold;
    color: red;
}

p {
    width: 1000px;
    text-align: center;
}

.green {
    background-color: greenyellow;
} 

.grey {
    background-color: grey;
    color: honeydew;
}